.main__container {
	margin-top: 100px;
	padding: 50px;
	background-color: black;
	/* display: flex; */
	/* flex-wrap: wrap; */
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	grid-auto-rows: 300px;
	gap: 5px;
	grid-auto-flow: dense;
	min-height: 50vh;
	position: relative;
}

/* product card */

.product__card {
	cursor: pointer;
	margin: 10px;
	color: white;
	position: relative;
	/* grid-row: span 2; */

	background-color: white;
	color: black;
	/* overflow: hidden; */

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
	border-radius: 10px;
}
.product__imgContainer {
	overflow: hidden;
}
.product__title {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 700;
}

.product__img {
	width: 100%;
	object-fit: contain;
	max-height: 500px;
	/* overflow: hidden; */
}

.product__card.h_150 img {
	height: 150px;
}

.guitar__grid {
	grid-row-end: span 2;
}
.product__noStock {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	background-color: #a7d129;
	right: 10px;
	padding: 5px;
	text-align: center;
	border-radius: 50%;
	color: white;
	display: flex;
	align-items: center;
}

.product__addContainer {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.product__operation {
	cursor: pointer;
}

.main__button {
	width: 100%;
	border-radius: 10px;
	background-color: #e43f5a;
	color: white;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}

.main__button:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.loading__svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-height:250px
}
.loading__svg--svg {
	
	/* fill: #e43f5a48; */
	 
	transition: all 2s ease-in;
}

@media screen and (max-width:768px){
	.main__container{
		margin-top: 20px;
		padding: 10px;
	}
}