.navbar {
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
	border-bottom: 1px solid #e43f5a;
	position: sticky;
	right: 0;
	top: 0;
	z-index: 100;
}

.navbar__container {
	display: flex;
	align-items: center;
	position: relative;
}

.navbar__logo {
	/* width: 100px; */
	height: 100px;
	left: 0;
	transform: rotate(90deg);
	position: absolute;
	top: -10px;
}

.navbar__listItem {
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

.navbar__item {
	margin: 0 6px;
	padding: 5px;
	position: relative;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: white;
}
.navbar__search {
	width: 450px;
	padding: 10px;
	outline: none;
	color: white;
	border: 1px solid #e43f5a;
	background-color: transparent;
	justify-self: flex-end;
	font-size: 14px;
}

.navbar__form {
	position: relative;
}
.navbar__icon-search {
	font-size: 24px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(238, 181, 181, 0.603);
	z-index: 100;
	background-color: black;
}

.navbar__icon-search::before {
	padding-left: 10px;
	border-left: 1px solid rgba(238, 181, 181, 0.603);
}
.navbar__cart {
	color: #e43f5a;
	padding: 30px;
	font-size: 24px;
	cursor: pointer;
}

.navbar__menu {
	display: none;
}
/* .navbar__active{
    color: #a7d129;
    text-decoration: underline;
} */
.navbar__active > li::before {
	content: '';
	border: 1px solid white;
	left: 0;

	bottom: 0;
	position: absolute;

	animation: toRight 2s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes toRight {
	0% {
		right: 100%;
	}
	100% {
		left: 0;
		bottom: 0;
		right: 0;
	}
}

/* medias queries */

@media screen and (max-width: 768px) {
	.navbar {
		/* flex-direction: column; */

		flex-wrap: wrap;
		/* position: initial; */
		min-height: 50px;
	}
	.navbar__title {
		display: none;
	}
	.navbar--none {
		display: none;
	}
	.navbar__listItem {
		flex-direction: column;
		align-items: center;
	}
	.navbar__item {
		/* padding: 20px; */
		font-size: 12px;
	}
	.navbar__logo {
		display: block;
		margin: 0 auto;
		/* position: relative; */
		left: 50px;
		transform: translateX(-50%);
		padding: 0;
		transform: translateY(-90%);
		top: 0;
	}
	.navbar__menu {
		position: absolute;
		left: 8px;
		top: 8px;
		display: initial;
		font-size: 24px;
	}
	.navbar__form {
		margin: 5px 0;
		width: 100%;
	}
	.navbar__search {
		font-size: 12px;
		width: 100%;
	}
	.navbar__icon-search {
		font-size: 16px;
	}
	/* .navbar__container{
		position: absolute;
		left: 0;
		top: 0;
	} */
	.navbar__cart {
		position: absolute;
		right: 8px;
		padding: 0;
		top: 8px;
		/* left: 50%;
		 transform: translateX(-50%); */
	}
}
